<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="assets/css/theme.css" rel="stylesheet" />
    <style>
        button{
            width: 24rem;
            margin: 8px;
        }
        i{
            margin-left: 30px;
        }

    </style>
<script src="https://kit.fontawesome.com/1611841c1c.js" crossorigin="anonymous"></script>
</head>
<body>
<main>

    <div style="height: 44rem;">

        <div style="position: absolute; left: 38%; top: 30%;">
            <a href="/newStop"><button style="font-size: 2rem;" class="btn btn-primary me-2">
                Add Stop <i class="fa-solid fa-truck-ramp-box"></i></button><br>
            </a>
            <a href="/newCourier"><button style="font-size: 2rem;" class="btn btn-primary me-2">
                Add New Courier <i class="fa-solid fa-truck-ramp-box"></i></button><br>
            </a>
            <a href="/newRoute"><button style="font-size: 2rem;" class="btn btn-primary me-2">Add New Route &nbsp &nbsp<i class="fa-solid fa-route"></i></button><br></a>
            <a href="/viewRoutes"><button style="font-size: 2rem;" class="btn btn-primary me-2">
                View Active Routes <i class="fa-solid fa-truck-ramp-box"></i></button><br>
            </a>

        </div>

    </div>

</main>

 
</body>
</html>