<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="assets/css/theme.css" rel="stylesheet" />
    <style>
        .foundResult {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            position: absolute;
            left: 30%;
            top: 20%;
            overflow: hidden;
            width: 50%;
            max-width: 100%;
            height: 40%;
            padding: 40px;
        }

        h1 {
            margin-bottom: 10%;
        }

        input[type=search] {
            width: 80%;
        }

        .btn {
            position: relative;
            bottom: 3px;
        }
    </style>

</head>

<body>
    <main>

        <div style="height: 50rem;">

            <div class="foundResult">
                <h1>
                    Enter your courier ID
                </h1>
                <form action="/track" method="post">
                    <input name="id" type="search" autocomplete="off">
                    <input class="btn btn-primary " type="submit">
                </form>
                <% if(result){ %>
                    <div>
                            <h3>Courier reached <%= present %></h3>
                            <h3>Now Heading towards  <%= next %></h3>
                    </div>
                <% } %>


            </div>

        </div>

    </main>
</body>

</html>